<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <fa-icon icon="globe-americas"></fa-icon>
    </a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            <fa-icon icon="shopping-cart"></fa-icon> 
            <span *ngIf="cart$ | async as cart" class="badge badge-danger badge-pill">{{ cart.totalItemsCount }}</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>
        <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle">{{ appUser.name }}</a>
          <div ngbDropdownMenu class="dropdown-menu">
            <a class="dropdown-item" routerLink="my/orders">My Orders</a>
            <ng-container *ngIf="appUser.isAdmin">
              <a class="dropdown-item" routerLink="admin/orders">Manage Orders</a>
              <a class="dropdown-item" routerLink="admin/products">Manage Products</a>
            </ng-container>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
