<div *ngIf="product.title" class="card mb-5">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" [alt]="product-title">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency:'GBP' }}</p>
  </div>
  <div class="card-footer p-0" *ngIf="showActions && shoppingCart">
    <button
      class="btn btn-primary btn-block rounded-0"
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
    >
      Add to cart
    </button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shoppingCart]="shoppingCart">
      </product-quantity>
    </ng-template>
  </div>
</div>